*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 105%;
}

body {
    background-color: #98cefb65;
    margin: 10%;
}

#title{
    font-size: 150%;
    font-weight: 600;
}

.tribute-title{
    font-size: 150%;
    color: #fff;
}
.container{
    display: block;
    text-align: center;
}
img{
    display: block;
    width: 30%;
    height: 20%;
    margin: auto;
    padding: 2%;
}

h1{
    display: inline-block;
}

section{
    padding: 5%;
}
.content{
    background: #00fad9;
    box-shadow: 20px 20px 20px #98effb;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}






@media(max-width:1200px){

    html{
        font-size: 55%;
    }
}

@media(max-width:991px){
    
    html{
        font-size: 60%;
    }

    section{
        padding: 2rem;
    }

}

@media(max-width:768px){

    
    html{
        font-size: 90%;
    }
    img{
        width: 100%;
    }
    
}

@media(max-width:450px){

    html{
        font-size: 90%;
    }

}